In [ ]:
#use 3.12.7
import pandas as pd
import plotly.express as px
from scipy import stats
import matplotlib.pyplot as plt
file= open("Min Wage Comp 2016.xlsx", "r")
df = pd.read_excel("Min Wage Comp 2016.xlsx")
df.drop(26571,inplace=True)
df = df[df['area_title'].str.contains('Rhode Island')]
df = df[df['group'].str.contains('major')]
df = df[df['occ title'].str.contains('Food Preparation and Serving Related Occupations')]
df = df.astype({"tot_emp": int,"h_mean":int,"a_mean":int,"h_median":int,"a_median":int})
df = df[df['tot_emp'] >= 10000]
df = df.drop(columns=['area', 'naics',"occ code",'i_group','annual','hourly','pct_total','group','h_pct25','h_pct75','h_pct90','h_pct10'
,'a_pct25','a_pct75','a_pct90','a_pct10','emp_prse',"mean_prse"])
df.loc["Mean"]=df.mean(numeric_only=True)
df["tot_emp"].replace(34432.5,df["tot_emp"].sum()-34432.5,inplace=True)
df['Years']='2016'
df8=df
df8

/var/folders/pz/dlk33y6105b34bc0mc69xhsm0000gn/T/ipykernel_48116/2229766075.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["tot_emp"].replace(34432.5,df["tot_emp"].sum()-34432.5,inplace=True)

,area_title,naics_title,occ title,tot_emp,h_mean,a_mean,h_median,a_median,Years
30552,Rhode Island,Accommodation and Food Services,Food Preparation and Serving Related Occupations,41570.0,11.00,24520.0,9.00,20750.0,2016
43587,Rhode Island,Food Services and Drinking Places,Food Preparation and Serving Related Occupations,40140.0,11.00,24400.0,9.00,20710.0,2016
48577,Rhode Island,Restaurants and Other Eating Places,Food Preparation and Serving Related Occupations,35450.0,11.00,24150.0,9.00,20460.0,2016
50579,Rhode Island,Full-Service Restaurants,Food Preparation and Serving Related Occupations,20570.0,12.00,25060.0,10.00,20980.0,2016
Mean,NaN,NaN,NaN,137730.0,11.25,24532.5,9.25,20725.0,2016

In [2]:
file1= open("Min Wage Comp 2017.xlsx", "r")
df = pd.read_excel("Min Wage Comp 2017.xlsx")
df.drop(26571,inplace=True)
df1 = df[df['area_title'].str.contains('Rhode Island')]
df1 = df1[df1['group'].str.contains('major')]
df1 = df1[df1['occ title'].str.contains('Food Preparation and Serving Related Occupations')]
df1 = df1.astype({"tot_emp": int,"h_mean":int,"a_mean":int,"h_median":int,"a_median":int})
df1 = df1[df1['tot_emp'] >= 10000]
df1 = df1.drop(columns=['area', 'naics',"occ code",'i_group','annual','hourly','pct_total','group','h_pct25','h_pct75','h_pct90','h_pct10'
,'a_pct25','a_pct75','a_pct90','a_pct10','emp_prse',"mean_prse"])
df1.loc["Mean"]=df1.mean(numeric_only=True)
df1["tot_emp"].replace(34672.5, df1["tot_emp"].sum()-34672.5,inplace=True)
df1['Years']='2017'
df9=df1
df9

/var/folders/pz/dlk33y6105b34bc0mc69xhsm0000gn/T/ipykernel_48116/3809033766.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1["tot_emp"].replace(34672.5, df1["tot_emp"].sum()-34672.5,inplace=True)

,area_title,naics_title,occ title,tot_emp,h_mean,a_mean,h_median,a_median,Years
9173,Rhode Island,Accommodation and Food Services,Food Preparation and Serving Related Occupations,41960.0,12.0,26110.0,11.0,23470.0,2017
43539,Rhode Island,Food Services and Drinking Places,Food Preparation and Serving Related Occupations,40210.0,12.0,25970.0,11.0,23420.0,2017
48591,Rhode Island,Restaurants and Other Eating Places,Food Preparation and Serving Related Occupations,35600.0,12.0,25670.0,11.0,23190.0,2017
50554,Rhode Island,Full-Service Restaurants,Food Preparation and Serving Related Occupations,20920.0,12.0,26650.0,11.0,23980.0,2017
Mean,NaN,NaN,NaN,138690.0,12.0,26100.0,11.0,23515.0,2017

In [3]:
file2= open("Min Wage Comp 2018.xlsx", "r")
df = pd.read_excel("Min Wage Comp 2018.xlsx")
df.drop(26571,inplace=True)
df11 = df[df['area_title'].str.contains('Rhode Island')]
df11 = df11[df11['o_group'].str.contains('major')]
df11 = df11[df11['occ title'].str.contains('Food Preparation and Serving Related Occupations')]
df11 = df11.astype({"tot_emp": int,"h_mean":int,"a_mean":int,"h_median":int,"a_median":int})
df11 = df11[df11['tot_emp'] >= 10000]
df11 = df11.drop(columns=['area', 'naics',"occ code",'i_group','annual','hourly','pct_total','o_group','h_pct25','h_pct75','h_pct90','h_pct10'
,'a_pct25','a_pct75','a_pct90','a_pct10','emp_prse',"mean_prse"])
df11.loc["Mean"]=df11.mean(numeric_only=True)
df11["tot_emp"].replace(34552.5, df11["tot_emp"].sum()-34552.5,inplace=True)
df11['Years']='2018'
df12=df11
df12

/var/folders/pz/dlk33y6105b34bc0mc69xhsm0000gn/T/ipykernel_48116/3873154845.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df11["tot_emp"].replace(34552.5, df11["tot_emp"].sum()-34552.5,inplace=True)

,area_title,naics_title,occ title,tot_emp,h_mean,a_mean,h_median,a_median,Years
9220,Rhode Island,Accommodation and Food Services,Food Preparation and Serving Related Occupations,41580.0,13.0,27910.0,11.00,24760.0,2018
43976,Rhode Island,Food Services and Drinking Places,Food Preparation and Serving Related Occupations,40080.0,13.0,27810.0,11.00,24730.0,2018
49023,Rhode Island,Restaurants and Other Eating Places,Food Preparation and Serving Related Occupations,35300.0,13.0,27630.0,11.00,24520.0,2018
50967,Rhode Island,Full-Service Restaurants,Food Preparation and Serving Related Occupations,21250.0,13.0,28810.0,12.00,25580.0,2018
Mean,NaN,NaN,NaN,138210.0,13.0,28040.0,11.25,24897.5,2018

In [4]:
df4=pd.concat([df8,df9,df12])
df4.drop([30552,43587,48577,50579,9173,43539,48591,50554,9220,43976,49023,50967], inplace=True)
df4

,area_title,naics_title,occ title,tot_emp,h_mean,a_mean,h_median,a_median,Years
Mean,NaN,NaN,NaN,137730.0,11.25,24532.5,9.25,20725.0,2016
Mean,NaN,NaN,NaN,138690.0,12.00,26100.0,11.00,23515.0,2017
Mean,NaN,NaN,NaN,138210.0,13.00,28040.0,11.25,24897.5,2018

In [5]:
file= open("Min Wage Comp 2016.xlsx", "r")
df2 = pd.read_excel("Min Wage Comp 2016.xlsx")
df2 = df2[df2['area_title'].str.contains('Connecticut')]
df2 = df2[df2['group'].str.contains('major')]
df2 = df2[df2['occ title'].str.contains('Food Preparation and Serving Related Occupations')]
df2 = df2.astype({"tot_emp": int,"h_mean":int,"a_mean":int,"h_median":int,"a_median":int})
df2 = df2[df2['tot_emp'] >= 11000]
df2 = df2.drop(columns=['area', 'naics',"occ code",'i_group','annual','hourly','pct_total','group','h_pct25','h_pct75','h_pct90','h_pct10'
,'a_pct25','a_pct75','a_pct90','a_pct10','emp_prse',"mean_prse"])
df2.loc["Mean"]=df2.mean(numeric_only=True)
df2["tot_emp"].replace(90850.0, df2["tot_emp"].sum()-90850.0,inplace=True)
df2['Years']='2016'
df6=df2
df6

/var/folders/pz/dlk33y6105b34bc0mc69xhsm0000gn/T/ipykernel_48116/3612866995.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2["tot_emp"].replace(90850.0, df2["tot_emp"].sum()-90850.0,inplace=True)

,area_title,naics_title,occ title,tot_emp,h_mean,a_mean,h_median,a_median,Years
27565,Connecticut,Accommodation and Food Services,Food Preparation and Serving Related Occupations,109310.0,12.00,25370.0,10.0,21820.0,2016
41812,Connecticut,Food Services and Drinking Places,Food Preparation and Serving Related Occupations,105970.0,12.00,25330.0,10.0,21810.0,2016
47133,Connecticut,Restaurants and Other Eating Places,Food Preparation and Serving Related Occupations,94160.0,11.00,24760.0,10.0,21390.0,2016
49377,Connecticut,Full-Service Restaurants,Food Preparation and Serving Related Occupations,53960.0,12.00,25290.0,10.0,21120.0,2016
Mean,NaN,NaN,NaN,363400.0,11.75,25187.5,10.0,21535.0,2016

In [6]:
import pandas as pd
import plotly.express as px
from scipy import stats
import matplotlib.pyplot as plt
file1= open("Min Wage Comp 2017.xlsx", "r")
df3 = pd.read_excel("Min Wage Comp 2017.xlsx")
df3 = df3[df3['area_title'].str.contains('Connecticut')]
df3 = df3[df3['group'].str.contains('major')]
df3 = df3[df3['occ title'].str.contains('Food Preparation and Serving Related Occupations')]
df3 = df3.astype({"tot_emp": int,"h_mean":int,"a_mean":int,"h_median":int,"a_median":int})
df3 = df3[df3['tot_emp'] >= 10000]
df3 = df3.drop(columns=['area', 'naics',"occ code",'i_group','annual','hourly','pct_total','group','h_pct25','h_pct75','h_pct90','h_pct10'
,'a_pct25','a_pct75','a_pct90','a_pct10','emp_prse',"mean_prse"])
df3.loc["Mean"]=df3.mean(numeric_only=True)
df3["tot_emp"].replace(92070.0, df3["tot_emp"].sum()-92070.0,inplace=True)
df3['Years']='2017'
df7=df3
df7

/var/folders/pz/dlk33y6105b34bc0mc69xhsm0000gn/T/ipykernel_48116/1631273224.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df3["tot_emp"].replace(92070.0, df3["tot_emp"].sum()-92070.0,inplace=True)

,area_title,naics_title,occ title,tot_emp,h_mean,a_mean,h_median,a_median,Years
6202,Connecticut,Accommodation and Food Services,Food Preparation and Serving Related Occupations,110450.0,12.0,26230.0,11.00,23130.0,2017
41775,Connecticut,Food Services and Drinking Places,Food Preparation and Serving Related Occupations,106900.0,12.0,26190.0,11.00,23130.0,2017
47173,Connecticut,Restaurants and Other Eating Places,Food Preparation and Serving Related Occupations,95310.0,12.0,25650.0,11.00,22880.0,2017
49386,Connecticut,Full-Service Restaurants,Food Preparation and Serving Related Occupations,55620.0,12.0,26200.0,10.00,22690.0,2017
Mean,NaN,NaN,NaN,368280.0,12.0,26067.5,10.75,22957.5,2017

In [7]:
import pandas as pd
import plotly.express as px
from scipy import stats
import matplotlib.pyplot as plt
file1= open("Min Wage Comp 2018.xlsx", "r")
df13 = pd.read_excel("Min Wage Comp 2018.xlsx")
df13 = df13[df13['area_title'].str.contains('Connecticut')]
df13 = df13[df13['o_group'].str.contains('major')]
df13 = df13[df13['occ title'].str.contains('Food Preparation and Serving Related Occupations')]
df13.drop(40977,inplace=True)
df13 = df13.astype({"tot_emp": int,"h_mean":int,"a_mean":int,"h_median":int,"a_median":int})
df13 = df13[df13['tot_emp'] >= 10000]
df13 = df13.drop(columns=['area', 'naics',"occ code",'i_group','annual','hourly','pct_total','o_group','h_pct25','h_pct75','h_pct90','h_pct10'
,'a_pct25','a_pct75','a_pct90','a_pct10','emp_prse',"mean_prse"])
df13.loc["Mean"]=df13.mean(numeric_only=True)
df13["tot_emp"].replace(92192.5, df13["tot_emp"].sum()-92192.5,inplace=True)
df13['Years']='2018'
df14=df13
df14

/var/folders/pz/dlk33y6105b34bc0mc69xhsm0000gn/T/ipykernel_48116/733477482.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df13["tot_emp"].replace(92192.5, df13["tot_emp"].sum()-92192.5,inplace=True)

,area_title,naics_title,occ title,tot_emp,h_mean,a_mean,h_median,a_median,Years
6241,Connecticut,Accommodation and Food Services,Food Preparation and Serving Related Occupations,112440.0,13.0,28300.0,11.0,24410.0,2018
42198,Connecticut,Food Services and Drinking Places,Food Preparation and Serving Related Occupations,105720.0,13.0,28260.0,11.0,24410.0,2018
47613,Connecticut,Restaurants and Other Eating Places,Food Preparation and Serving Related Occupations,94400.0,13.0,27740.0,11.0,24210.0,2018
49791,Connecticut,Full-Service Restaurants,Food Preparation and Serving Related Occupations,56210.0,13.0,28390.0,11.0,24200.0,2018
Mean,NaN,NaN,NaN,368770.0,13.0,28172.5,11.0,24307.5,2018

In [8]:
df5=pd.concat([df6,df7,df14])
df5.drop([27565,41812,47133,49377,6202,41775,47173,49386,6241,42198,47613,49791], inplace=True)
df5

,area_title,naics_title,occ title,tot_emp,h_mean,a_mean,h_median,a_median,Years
Mean,NaN,NaN,NaN,363400.0,11.75,25187.5,10.00,21535.0,2016
Mean,NaN,NaN,NaN,368280.0,12.00,26067.5,10.75,22957.5,2017
Mean,NaN,NaN,NaN,368770.0,13.00,28172.5,11.00,24307.5,2018

In [9]:
from plotly.subplots import make_subplots
import plotly.graph_objects as go
fig = make_subplots(rows=1, cols=5, subplot_titles = ['Total Employement','Mean Hourly Wage', 'Median Hourly Wage', 'Mean Annual Wage', "Median Annual Wage"])
fig.add_trace(go.Bar(x=df4["Years"],y=df4["tot_emp"]), row=1, col=1)
fig.add_trace(go.Bar(x=df4["Years"],y=df4["h_mean"]), row=1, col=2)
fig.add_trace(go.Bar(x=df4["Years"],y=df4["h_median"]), row=1, col=3)
fig.add_trace(go.Bar(x=df4["Years"],y=df4["a_mean"]), row=1, col=4)
fig.add_trace(go.Bar(x=df4["Years"],y=df4["a_median"]), row=1, col=5)
fig.update_layout(xaxis_title='Year', xaxis2_title='Year', xaxis3_title='Year', xaxis4_title='Year', xaxis5_title='Year', yaxis_title='People',)
fig.update_layout(height=600, width=1150, title_text="Employement Among a Sector of Food Service Workers in Rhode Island", title_x=0.5, showlegend=False)
fig.show()

In [10]:
from plotly.subplots import make_subplots
import plotly.graph_objects as go
fig = make_subplots(rows=1, cols=5, subplot_titles = ['Total Employement','Mean Hourly Wage ($)', 'Median Hourly Wage ($)', 'Mean Annual Wage ($)', "Median Annual Wage ($)"])
fig.add_trace(go.Bar(x=df5["Years"],y=df5["tot_emp"]), row=1, col=1)
fig.add_trace(go.Bar(x=df5["Years"],y=df5["h_mean"]), row=1, col=2)
fig.add_trace(go.Bar(x=df5["Years"],y=df5["h_median"]), row=1, col=3)
fig.add_trace(go.Bar(x=df5["Years"],y=df5["a_mean"]), row=1, col=4)
fig.add_trace(go.Bar(x=df5["Years"],y=df5["a_median"]), row=1, col=5)
fig.update_layout(xaxis_title='Year', xaxis2_title='Year', xaxis3_title='Year', xaxis4_title='Year', xaxis5_title='Year', yaxis1_title='People')
fig.update_layout(height=600, width=1150, title_text="Employement Among a Sector of Food Service Workers in Connecticut", title_x=0.5, showlegend=False)
fig.show()